<tr hx-trigger='cancel' class='editing' hx-get="/bookmark/{{ bookmark.id.id }}">
    <td><input placeholder="Name" required type=text name="name" value="{{ bookmark.name}}"></td>
    <td><input placeholder="URL" required type=text name="url" value="{{ bookmark.url }}"></td>
    <td>
        <button class="btn btn-danger" hx-put="/bookmark/{{ bookmark.id.id }}" hx-include="closest tr">
            Confirm
        </button>
    </td>
    <td>
        <button class="btn btn-danger" hx-get="/bookmark/{{ bookmark.id.id }}">
            Cancel
        </button>
    </td>
</tr>
